.events-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./src/eventsCover.jpg') center/cover no-repeat;
    text-align: center;
    color: white;
    padding: 50px 0;
}

.events-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px;
}

.event-card {
    width: 30%;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

.event-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.event-card h3 {
    margin-bottom: 10px;
    color: #ff9500;
}

@media (max-width: 768px) {
    .events-container {
        flex-direction: column;
        align-items: center;
    }

    .event-card {
        width: 80%;
        margin-bottom: 20px;
    }
}
